<table class="table table-hover clickable-row">
    <thead>
        <tr>
        <th scope="col">Location</th>
        <th scope="col">Host</th>
        <th scope="col">Game</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><%= eventItem.location %></td>
                <td><%= eventItem.host %></td>
                <td><%= eventItem.sport %></td>
            </tr>
    </tbody>
</table>