<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bold text-center bottompad">Welcome to PlayPal</h1>
        </div>
        <div class="col-md-12">
            <h3 class="text-center bottompad">Events Happening Around You!</h3>
        </div>
    </div>

    <div class="row justify-content-md-center">

       
        <div class="col-md-4 ">
            <h3>Join a Game!</h3>
            <div class="sportselection">
                <p class="sportselection-child">Filter by Sport:</p>
                <select id="sportfilter" class="sportselection-child" onChange="filterTable()">
                    <option value="showall" selected="selected">Show All</option>
                    <option value="soccer">Soccer</option>
                    <option value="basketball">Basketball</option>
                    <option value="golf">Golf</option>
                </select>
            </div>

        <%- include('partials/listofactivities'); %>
        </div>
        <div class="col-md-6 ">
        <%- include('partials/map') %>
        </div>      
    </div>
</div>
<%- include('partials/footer') %>