<%- include('partials/header-nonav') %>

  <div class="row text-center justify-content-md-center">
    <div class="col-xl-4 col-lg-6 col-md-8">
      
        <p class="font-weight-bold loginlogo" href="/signin">PlayPal <i class="fas fa-volleyball-ball"></i></p>
        <h1 class="h3 mb-3 fw-normal">Register!</h1>
    </div>
  </div>

<form class="form-signin" action="/uploadprofilepic" method="post">  
  <!-- <div class="row text-center justify-content-md-center mb-4">
    <div class="col-xl-2 col-lg-3 col-md-4 align-self-center">
      <p class="mb-2" style="text-align:left;">Choose a Profile Picture</p>
      <input name="profilepic" type="file" class="form-control mb-2" id="floatingProfilePic" accept="image/gif, image/jpeg, image/png" title="Select a Profile Picture" onchange="readImg(this);">          
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4">
      <img id="showProfilePic" style="border-radius: 100%;" src="#" alt="" />
    </div> 
  </div> -->
  <div class="row justify-content-md-center">
    <div class="col-xl-4 col-lg-6 col-md-8">
        <div class="form-floating">
          <input name="registerFirstName" class="form-control" id="floatingFirstName" placeholder="">
          <label for="floatingFirstName">First Name</label>
        </div>
        <div class="form-floating">
          <input name="registerLastName" class="form-control" id="floatingLastName" placeholder="">
          <label for="floatingLastName">Last Name</label>
        </div>
        <div class="form-floating">
          <input type="email" name="username" class="form-control" id="floatingInput" placeholder="">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="">
          <label for="floatingPassword">Password</label>
        </div>
        <h3 class = "pt-3">More information about you!</h3>
        <div class="form-floating">
          <input type="number" name="userAge" class="form-control" id="floatingUserAge" placeholder="">
          <label for="floatingUserAge">Your Age</label>
        </div>
        <div class="form-floating">
          <select class="form-select form-select-md" name="userLocation" id="floatingUserLocation">
            <option selected>Your Preferred Activity Location?</option>
            <option value="North">North</option>
            <option value="South">South</option>
            <option value="West">Central</option>
            <option value="East">East</option>
            <option value="West">West</option>
            <!-- <option value="Ang Mo Kio">Ang Mo Kio</option>
            <option value="Bedok">Bedok</option>
            <option value="Bishan">Bishan</option>
            <option value="Boon Lay">Boon Lay</option>
            <option value="Bukit Batok">Bukit Batok</option>
            <option value="Bukit Merah">Bukit Merah</option>
            <option value="Bukit Panjang">Bukit Panjang</option>
            <option value="Bukit Timah">Bukit Timah</option>
            <option value="Central Water Catchment">Central Water Catchment</option>
            <option value="Changi">Changi</option>
            <option value="Changi Bay">Changi Bay</option>
            <option value="Choa Chu Kang">Choa Chu Kang</option>
            <option value="Clementi">Clementi</option>
            <option value="Downtown Core">Downtown Core</option>
            <option value="Geylang">Geylang</option>
            <option value="Hougang">Hougang</option>
            <option value="Jurong East">Jurong East</option>
            <option value="Jurong West">Jurong West</option>
            <option value="Kallang">Kallang</option>
            <option value="Lim Chu Kang">Lim Chu Kang</option>
            <option value="Mandai">Mandai</option>
            <option value="Marina East">Marina East</option>
            <option value="Marina South">Marina South</option>
            <option value="Marine Parade">Marine Parade</option>
            <option value="Museum">Museum</option>
            <option value="Newton">Newton</option>
            <option value="North-Eastern Islands">North-Eastern Islands</option>
            <option value="Novena">Novena</option>
            <option value="Orchard">Orchard</option>
            <option value="Outram">Outram</option>
            <option value="Pasir Ris">Pasir Ris</option>
            <option value="Paya Lebar">Paya Lebar</option>
            <option value="Pioneer">Pioneer</option>
            <option value="Punggol">Punggol</option>
            <option value="Queenstown">Queenstown</option>
            <option value="River Valley">River Valley</option>
            <option value="Rochor">Rochor</option>
            <option value="Seletar">Seletar</option>
            <option value="Sembawang">Sembawang</option>
            <option value="Sengkang">Sengkang</option>
            <option value="Serangoon">Serangoon</option>
            <option value="Simpang">Simpang</option>
            <option value="Singapore River">Singapore River</option>
            <option value="Southern Islands">Southern Islands</option>
            <option value="Straits View">Straits View</option>
            <option value="Sungei Kadut">Sungei Kadut</option>
            <option value="Tampines">Tampines</option>
            <option value="Tanglin">Tanglin</option>
            <option value="Tengah">Tengah</option>
            <option value="Toa Payoh">Toa Payoh</option>
            <option value="Tuas">Tuas</option>
            <option value="Western Islands">Western Islands</option>
            <option value="Western Water Catchment">Western Water Catchment</option>
            <option value="Woodlands">Woodlands</option>
            <option value="Yishun">Yishun</option>            -->
          </select>
        </div>
        <div class="form-group pt-2">
          <label for="floatingUserPreferredTime">Your Preferred Time (mutiple-select)</label>
          <select multiple class="form-control" name="userPreferredTime" id="floatingUserPreferredTime">
            <option>Mornings</option>
            <option>Afternoons</option>
            <option>Evenings</option>
            <option>Nights</option>
          </select>
        </div>
        <div class="form-group pt-2">
          <label for="floatingUserPreferredDay">Your Preferred Day (mutiple-select)</label>
          <select multiple class="form-control" name="userPreferredDay" id="floatingUserPreferredDay">
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </div>
        <div class="form-group">
          <label for="favSport">List your favourite sports.</label>
          <textarea class="form-control" id="favSport" name="favSport" rows="3"></textarea>
        </div>
        <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Register!</button>
    </div> 
  </div>
</form> 
<%- include('partials/footer') %>