<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <%- include('partials/activity'); %>
        </div>
        <div class="col-md-2 align-self-center text-center">
            <button class="btn btn-primary align-self-center" type="button">Join Team!</button>
        </div>
        <div class="col-md-2 align-self-center">

        </div>    
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-10 ">
        <%- include('partials/map') %>
        </div>      
    </div>
</div>
<%- include('partials/footer') %>