<%- include('partials/header') %>
<div class="container-fluid mt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <%- include('partials/activity'); %>
            <div class="text-center">
                <button class="btn btn-primary mb-3" type="button">Join Team!</button>
            </div>

        </div>
        <div class="col-md-6 align-self-center text-center">
            <%- include('partials/map') %>
        </div>
    </div>
</div>
<%- include('partials/footer') %>