<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="<%= picUrl %>" id="profilePic" alt="">
            <h1 class="fw-bold text-center bottompad"><%= [foundUser.firstName, foundUser.lastName].join(" ") %></h1>
        </div>
        <div class="col-md-6">
            <h3 class="fw-bold">Reviews</h3>
        </div>
    </div>
</div>
<%- include('partials/footer') %>